appnope==0.1.0
aspy.yaml==1.1.1
backcall==0.1.0
cached-property==1.5.1
cfgv==1.1.0
decorator==4.3.0
Django==2.1.3
django-extensions==2.1.4
git+https://github.com/jambonrose/django-rest-framework.git@fix_6341_date_validator_uses_instance
identify==1.1.7
importlib-metadata==0.7
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
nodeenv==1.3.3
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pre-commit==1.12.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.0
pytz==2018.7
PyYAML==3.13
six==1.11.0
toml==0.10.0
traitlets==4.3.2
virtualenv==16.1.0
wcwidth==0.1.7
